@import "../../../variables.less";
.button{
  min-width: 10px;
  min-height: 20px;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid @primary-color;
  color: @primary-color;
  background-color: transparent;
  &:hover{
    background-color: @primary-color;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
}
