@import "../../../variables.less";
:host{
  bottom: 0;
  background-color: @secondary-color;
  color: white;
  display: flex;
  position: sticky;
  flex-direction: row-reverse;
  line-height: 38px;
  padding: 0 @margin;
}
