@import "../../../variables.less";
:host{
  bottom: 0;
  background-color: @secondary-color;
  color: white;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: row-reverse;
  line-height: 38px;
}
