<div class="wrapper"  appBorderColor [creationDate]="courseItem.creationDate" >
  <div class="main">
    <div class="header">
      <p>{{courseItem.title | uppercase}}</p>
      <fa-icon [ngClass]="{star: true, show: courseItem.topRated} " [icon]="star"></fa-icon>
      <p id="duration">{{courseItem.duration | durationPipe}}</p>
      <p>{{courseItem.creationDate | date: 'dd.MM.yyyy'}}</p>
    </div>
    <div class="description">{{courseItem.description}}</div>
  </div>
  <div class="buttons">
    <app-button text="Edit" (click)="onEdit()"></app-button>
    <app-button text="Delete" (click)="onDelete()" class="delete"></app-button>
  </div>
</div>
