:host {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loadMore {
  display: flex;
  width: 200px;
  margin: auto;
}

.noData {
  display: flex;
  justify-content: center;
  margin: 16px;
}
